{% extends "layout.html" %}

{% block header %}
<section class="bgimg__container container">
    <h1 class="bgimg__title">CONTACT US</h1>
</section>
{% endblock %}

{% block content %}
<section class="section3 container">
    <h2 class="subtitle">Professors</h2>
    <div class="section3__table">
        <div class="section3__element section3__element--best">
            <h3 class="section3__name">Ceo of EPICS</h3>
            <h2 class="section3__section3">Miguel Jimeno Paba</h2>
            <h1  style="color:#FF7143">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#FF7143">\n</h1>
            <a href="https://github.com/majimeno" class="cta" style="background-color: #e5e5f7; color: black;">More about my job</a>
        </div>
        <div class="section3__element section3__element--best">
            <h3 class="section3__name">Ceo of EPICS</h3>
            <h2 class="section3__section3">Heydy Robles Noriega<h2>
            <h1  style="color:#FF7143; white-space: pre-line;">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="goodslider__img">
            <h1  style="color:#FF7143">\n</h1>
            <a href="/" class="cta" style="background-color: #e5e5f7; color: black;">More about my job</a>
        </div>
        <div class="section3__element section3__element--best">
            <h3 class="section3__name">Ceo of EPICS</h3>
            <h2 class="section3__section3">Karen Villalba Ramos</h2>
            <h1  style="color:#FF7143; white-space: pre-line;">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="goodslider__img">
            <h1  style="color:#FF7143">\n</h1>
            <a href="/" class="cta" style="background-color: #e5e5f7; color: black;">More about my job</a>
        </div>
    </div>
</section>

<section class="section3 container">
    <h2 class="subtitle">Mobile Team</h2>
    <div class="section3__table">
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Fernando Acuña Garcia</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Harry Cepeda Reales</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Harrison0123" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Breynner Hurtado Acuña</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/breynner1" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Shalem Janna Diaz</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/SJanna" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Christian Manga Arrazola</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/ChristianMA19" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Daniel Martinez Arias</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Rafael Martinez Montero</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Nefer Medina Ricaurte</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Carlos Otero Peña</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/carlos204658" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Michelle Polo Hurtado</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="section3__section3">Camilo Sinning Lopez</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/CamiloSinningUN" class="cta">More about my job</a>
        </div>
    </div>
</section>


<section class="section3 container">
    <h2 class="subtitle">Web Team</h2>
    <div class="section3__table">
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Laura Benavides Celis</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/laura13272002" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Jesus Duran Cardenas</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Davidduran2404" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Leonardo Lizcano Pinto</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Natalia Mendoza Acosta</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/nm000" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Yenelis Molina Zurita</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Pupa08" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Maycol Moreno Daza</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/MaycolMD" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Miguel Velez Higuita</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/miguelvh-coder" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="section3__section3">Leonardo Vergara Marquez</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
    </div>
</section>

<section class="section3 container">
    <h2 class="subtitle">Documentation Team</h2>
    <div class="section3__table">
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Documentation Team</h3>
            <h2 class="section3__section3">Marta Arrieta Contreras</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Marta-Arrieta" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Documentation Team</h3>
            <h2 class="section3__section3">Felipe De Lima Correa</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/d3l1m" class="cta">More about my job</a>
        </div>
        <div class="section3__element">
            <h3 class="section3__name" style="color:black">EPICS' Documentation Team</h3>
            <h2 class="section3__section3">Samuel Zuleta Morales</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="goodslider__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
    </div>
</section>
{% endblock %}
