{% extends "layout.html" %}

{% block header %}
<section class="hero__container container">
    <h1 class="hero__title">CONTACT US</h1>
</section>
{% endblock %}

{% block content %}
<section class="price container">
    <h2 class="subtitle">Professors</h2>
    <div class="price__table">
        <div class="price__element price__element--best">
            <h3 class="price__name">Ceo of EPICS</h3>
            <h2 class="price__price">Miguel Jimeno Paba</h2>
            <h1  style="color:#FF7143">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#FF7143">\n</h1>
            <a href="https://github.com/majimeno" class="cta" style="background-color: #e5e5f7; color: black;">More about my job</a>
        </div>
        <div class="price__element price__element--best">
            <h3 class="price__name">Ceo of EPICS</h3>
            <h2 class="price__price">Heydy Robles Noriega<h2>
            <h1  style="color:#FF7143; white-space: pre-line;">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="testimony__img">
            <h1  style="color:#FF7143">\n</h1>
            <a href="/" class="cta" style="background-color: #e5e5f7; color: black;">More about my job</a>
        </div>
        <div class="price__element price__element--best">
            <h3 class="price__name">Ceo of EPICS</h3>
            <h2 class="price__price">Karen Villalba Ramos</h2>
            <h1  style="color:#FF7143; white-space: pre-line;">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="testimony__img">
            <h1  style="color:#FF7143">\n</h1>
            <a href="/" class="cta" style="background-color: #e5e5f7; color: black;">More about my job</a>
        </div>
    </div>
</section>

<section class="price container">
    <h2 class="subtitle">Mobile Team</h2>
    <div class="price__table">
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Fernando Acuña Garcia</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Harry Cepeda Reales</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Harrison0123" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Breynner Hurtado Acuña</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/breynner1" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Shalem Janna Diaz</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/SJanna" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Christian Manga Arrazola</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/ChristianMA19" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Daniel Martinez Arias</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Rafael Martinez Montero</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Nefer Medina Ricaurte</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Carlos Otero Peña</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/carlos204658" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Michelle Polo Hurtado</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Mobile Developer Team</h3>
            <h2 class="price__price">Camilo Sinning Lopez</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/CamiloSinningUN" class="cta">More about my job</a>
        </div>
    </div>
</section>


<section class="price container">
    <h2 class="subtitle">Web Team</h2>
    <div class="price__table">
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Laura Benavides Celis</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/laura13272002" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Jesus Duran Cardenas</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Davidduran2404" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Leonardo Lizcano Pinto</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Natalia Mendoza Acosta</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/nm000" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Yenelis Molina Zurita</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Pupa08" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Maycol Moreno Daza</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/MaycolMD" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Miguel Velez Higuita</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/miguelvh-coder" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Web Developer Team</h3>
            <h2 class="price__price">Leonardo Vergara Marquez</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
    </div>
</section>

<section class="price container">
    <h2 class="subtitle">Documentation Team</h2>
    <div class="price__table">
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Documentation Team</h3>
            <h2 class="price__price">Marta Arrieta Contreras</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-female.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/Marta-Arrieta" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Documentation Team</h3>
            <h2 class="price__price">Felipe De Lima Correa</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="https://github.com/d3l1m" class="cta">More about my job</a>
        </div>
        <div class="price__element">
            <h3 class="price__name" style="color:black">EPICS' Documentation Team</h3>
            <h2 class="price__price">Samuel Zuleta Morales</h2>
            <h1  style="color:#e5e5f7">\n</h1>
            <img src="{{url_for('static', path='/images/avatar-male.svg')}}" class="testimony__img">
            <h1  style="color:#e5e5f7">\n</h1>
            <a href="" class="cta">More about my job</a>
        </div>
    </div>
</section>
{% endblock %}
