{% extends "layout.html" %}

{% block header %}
<section class="bgimg__container container">
    <h1 class="bgimg__title">Funding</h1>
</section>
{% endblock %}
{% block content %}
<section class="container section2">
    <h2 class="subtitle">COMPANIES THAT HELPED GROW THE EPICS' PROJECT</h2>
    <p class="section2__paragraph"> Learn with us about the companies that make this inclusive project possible.
    </p>
</section>
<section class="section1">

    <div class="section1__container container">
        <div class="knowledege__texts">
            <h2 class="subtitle" style="text-align: center; font-size: 50px;">Universidad del Norte</h2>
            <p class="section1__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore veniam, velit iusto placeat perferendis qui dignissimos aperiam repudiandae non consectetur. Velit aperiam impedit iste facere laborum qui perspiciatis animi provident.
            </p>
        </div>
        <figure class="section1__picture" style="max-width: 400px">
            <img src="{{url_for('static', path='/images/logoun1.png')}}" class="section1__img">
        </figure>

        <a href="/https://www.uninorte.edu.co" class="cta">More about them</a>
    </div>
</section>
<section class="container section2">
  <div class="section1__container container" >
      <div class="knowledege__texts">
        <h2 class="subtitle" style="text-align: center; font-size: 50px;"> IEEE</h2>
        <h2 class="subtitle" style="text-align: center; font-size: 50px;">Institute of Electrical and Electronics Engineers</h2>
          <p class="section1__paragraph" style="text-align: left;">Brief introductory text or summary about the new. It has to impact the audience because they have to want to press the read more button. If you want to know more about this experience, click on 'Read more'. </p>
      </div>

      <figure class="section1__picture" style="max-width: 400px;">
          <img src="{{url_for('static', path='/images/logoieee1.png')}}" class="section1__img">
      </figure>

      <a href="/https://www.ieee.org" class="cta">More about them</a>
  </div>
</section>
<section class="section1">
    <div class="section1__container container">
        <div class="knowledege__texts">
            <h2 class="subtitle" style="text-align: center">Company 3</h2>
            <p class="section1__paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quod incidunt nihil laudantium repellat, quaerat velit ad similique maxime voluptatem ullam iure mollitia in nam nulla unde id deserunt aliquid? </p>
        </div>

        <figure class="section1__picture" style="max-width: 400px;">
            <img src="{{ url_for('static', path='/images/code.svg') }}" class="section1__img">
        </figure>

        <a href="/" class="cta">More about them</a>
    </div>
</section>
<section class="container section2">
  <div class="section1__container container">
      <div class="knowledege__texts">
          <h2 class="subtitle" style="text-align: center">Company 4</h2>
          <p class="section1__paragraph"  style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit molestiae iusto ipsum quaerat error voluptates laboriosam eius ea iste, in, consequatur dolorum quia beatae ullam soluta corrupti suscipit amet quas. </p>
      </div>

      <figure class="section1__picture" style="max-width: 400px;">
          <img src="{{ url_for('static', path='/images/avatar-female.svg') }}" class="section1__img">
      </figure>

      <a href="/" class="cta">More about them</a>
  </div>
</section>
{% endblock %}
