<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>EyeLearn</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/estilos.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="theme-color" content="#2091F9">

    <meta name="title" content="Epics Project">
    <meta name="description"
        content="Epics Guided Project. Proyecto guiado de Epics.">


    <meta property="og:type" content="webpage">
    <meta property="og:url" content="https://github.com/nm000/paba_wb">
    <meta property="og:title" content="Epics Project repository">
    <meta property="og:description"
        content="Here you can find all the code associated with the project. Aquí podrás encontrar todo el código asociado al proyecto.">
</head>
<body>

    <header class="bgimg2">
        <nav class="nav container">

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="/" class="nav__links">Home</a>
                </li>
                <li class="nav__items">
                    <a href="/about" class="nav__links">Description</a>
                </li>
                <li class="nav__items">
                    <a href="/news" class="nav__links">News</a>
                </li>
                <li class="nav__items">
                    <a href="/funding" class="nav__links">Funding</a>
                </li>
                <li class="nav__items">
                    <a href="/framework" class="nav__links">Framework</a>
                </li>
                <li class="nav__items">
                    <a href="/publications" class="nav__links">Publications</a>
                </li>
                <li class="nav__items">
                    <a href="/faqs" class="nav__links">FAQS</a>
                </li>
                <li class="nav__items">
                    <a href="/contact" class="nav__links">Contact us</a>
                </li>

                <img src="{{ url_for('static', path='/images/close.svg') }}" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="{{ url_for('static', path='/images/menu.svg') }}" class="nav__img">
            </div>
        </nav>
        <section class="bgimg__container container">
            <h1 class="bgimg__title" style="font-size: 150px;">Salamanca Home</h1>
        </section>
    </header>

    <header>
  <h1 class="siteTitle">Tasks<h1>
</header>

<main>

  <div class="container">
    <div class="row">
      <div class="col">
        <a href="https://google.com" class="card1">
            <div class="inner">
              <h2 class="title">Task 1</h2>
            </div>
        </a>
      </div>

      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align: center;">
          <div class="card-header">Task 1</div>
          <div class="card-body">
            <p class="card-text">Extract key information from a map</p>
            <a href="#" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <a href="https://google.com" class="card1 card2">
            <div class="inner">
              <h2 class="title">Task 2</h2>
            </div>
        </a>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align: center;">
          <div class="card-header">Task 2</div>
          <div class="card-body">
            <p class="card-text">descripcion</p>
            <a href="#" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <a href="https://google.com" class="card1 card3">
            <div class="inner">
              <h2 class="title">Task 3</h2>
            </div>
        </a>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align: center;">
          <div class="card-header">Task 3</div>
          <div class="card-body">
            <p class="card-text">descripcion</p>
            <a href="#" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <a href="https://google.com" class="card1 card4">
            <div class="inner">
              <h2 class="title">Task 4</h2>
            </div>
        </a>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align: center;">
          <div class="card-header">Task 4</div>
          <div class="card-body">
            <p class="card-text">descripcion</p>
            <a href="#" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <a href="https://google.com" class="card1 card5">
            <div class="inner">
              <h2 class="title">Task 5</h2>
            </div>
        </a>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align: center;">
          <div class="card-header">Task 5</div>
          <div class="card-body">
            <p class="card-text">Embrace Salamanca Island</p>
            <a href="#" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer class="footer">
      <section class="footer__container container">
          <nav class="nav nav--footer">
              <h2 class="footer__title" style="margin-right: 10px;">EPICS Project</h2>

              <ul class="nav__link nav__link--footer">
                  <li class="nav__items">
                      <a href="/" class="nav__links">Home</a>
                  </li>
                  <li class="nav__items">
                      <a href="/about" class="nav__links">Description</a>
                  </li>
                  <li class="nav__items">
                      <a href="/news" class="nav__links">News</a>
                  </li>
                  <li class="nav__items">
                      <a href="/funding" class="nav__links">Funding</a>
                  </li>
                  <li class="nav__items">
                      <a href="/framework" class="nav__links">Framework</a>
                  </li>
                  <li class="nav__items">
                      <a href="/publications" class="nav__links">Publications</a>
                  </li>
                  <li class="nav__items">
                      <a href="/faqs" class="nav__links">FAQS</a>
                  </li>
                  <li class="nav__items">
                      <a href="/contact" class="nav__links">Contact us</a>
                  </li>
              </ul>
          </nav>

          <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
              <div class="footer__inputs">
                <div id="myid" style="color: white">
                    Choose language
                </div>
              </div>
          </form>

  </footer>

    <script src="{{ url_for('static', path='/js/slider.js') }}"></script>
    <script src="{{ url_for('static', path='/js/questions.js') }}"></script>
    <script src="{{ url_for('static', path='/js/menu.js') }}"></script>
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
    	function loadGoogleTranslate()
    	{
    		new google.translate.TranslateElement("myid")
    	}
    </script>
  </body>
</html>
